body {
    font-family: 'Poppins', sans-serif;
}

@keyframes animasiScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.920);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes buttonSubmit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.020);
    opacity: 0.925;
  }
  50% {
    transform: scale(1.030);
    opacity: 0.950;
  }
  75% {
    transform: scale(1.040);
    opacity: 0.975;
  }
  100% {
    transform: scale(1.050);
    opacity: 1;
  }
}

